[submodule "plugins"]
	path = plugins
	url = git@shuggiefisher-github.com:shuggiefisher/pelican-plugins.git
[submodule "themes"]
	path = themes
	url = git@shuggiefisher-github.com:getpelican/pelican-themes.git
